<?php
/**
 * The base configuration for WordPress
 *
 * The wp-config.php creation script uses this file during the
 * installation. You don't have to use the web site, you can
 * copy this file to "wp-config.php" and fill in the values.
 *
 * This file contains the following configurations:
 *
 * * MySQL settings
 * * Secret keys
 * * Database table prefix
 * * ABSPATH
 *
 * @link https://codex.wordpress.org/Editing_wp-config.php
 *
 * @package WordPress
 */

// ** MySQL settings ** //
/** The name of the database for WordPress */
define( 'DB_NAME', 'wordpress' );

/** MySQL database username */
define( 'DB_USER', 'root' );

/** MySQL database password */
define( 'DB_PASSWORD', 'password' );

/** MySQL hostname */
define( 'DB_HOST', '127.0.0.1' );

/** Database Charset to use in creating database tables. */
define( 'DB_CHARSET', 'utf8' );

/** The Database Collate type. Don't change this if in doubt. */
define( 'DB_COLLATE', '' );

/**
 * Authentication Unique Keys and Salts.
 *
 * Change these to different unique phrases!
 * You can generate these using the {@link https://api.wordpress.org/secret-key/1.1/salt/ WordPress.org secret-key service}
 * You can change these at any point in time to invalidate all existing cookies. This will force all users to have to log in again.
 *
 * @since 2.6.0
 */
define( 'AUTH_KEY',          ';ffe +k`AnZYV6612S6CMOxYISK[H7;SDCp1.:+hlRs#s1*#CR#E{i[7BpWK4}6}' );
define( 'SECURE_AUTH_KEY',   'wkm#6_OsyU;>_iwW{v+t2:03,V7rakjnSF<fYds`c_x1{@KB[Wb;qW/uLqx-kIB1' );
define( 'LOGGED_IN_KEY',     '+TbMrk^+R Dz:]U&VG/X/w@MBo!PFHPEyY@{N[X2L!=xJ$9knr&ToAIn5I*fMq~r' );
define( 'NONCE_KEY',         '6#Nwo?z+,!^AjnKUM^@6|hC-F on/KK#f>(:51%1q 8-QRw9>i0}o-PduB#XmNo)' );
define( 'AUTH_SALT',         'Vwo9 Y5A5LT1E4fy=.zu$!+$Ycsz*}aqlv./CnE/GBTb|<YTH!FL,iD*b.![O*X=' );
define( 'SECURE_AUTH_SALT',  '-<(BI3u0)I%];gxLB)`R0iu~` r=hOO7]*!USM%}/9LRu~g{)l Uf]b_zNU7yU%$' );
define( 'LOGGED_IN_SALT',    'ou@7.<N5!moQNJQTU^K$vI#oq9{z:&NCz&dTyM4`.q7IigfhjW;r3;8Zv+alYGJ,' );
define( 'NONCE_SALT',        'Xx]lb!tF5STw2K{bRd#]_=o[A>R.k7WKq428Tep3&,y7@b-><6|BUYhGPRT^tViB' );
define( 'WP_CACHE_KEY_SALT', 'vxz$--r%NHcV{~xf/g.s#D^g=#X/Ja6ijr>yFItT!A(Hd2b2Yrt+[DYye=*V%|V9' );

/**
 * WordPress Database Table prefix.
 *
 * You can have multiple installations in one database if you give each
 * a unique prefix. Only numbers, letters, and underscores please!
 */
$table_prefix = 'wp_';


define( 'WP_DEBUG', true );
define( 'WP_DEBUG_LOG', true );

/* That's all, stop editing! Happy blogging. */

/** Absolute path to the WordPress directory. */
if ( ! defined( 'ABSPATH' ) )
    define( 'ABSPATH', dirname( __FILE__ ) . '/' );

/** Sets up WordPress vars and included files. */
require_once ABSPATH . 'wp-settings.php';
